<a href="/home/">
    <h1> STUDY BUD </h1>
</a>

<form method="GET" action="{% url 'home' %}">
    <input type="text" name="search_for" placeholder="Search Rooms..." />
</form>

<p align="left">
{% if request.user.is_authenticated %}
<a href={% url 'logout' %}> Logout </a>
<p align="right">Logged in as: {{request.user.username}}</p>
{% else %}
<a href={% url 'login' %}> Login </a>
{% endif %}</p>
<a href="{{request.META.HTTP_REFERER}}"> Go Back </a>
{% if messages %}
        <ul class="messages">
            {% for messages in messages %}
            {{ message }}
            {% endfor %}
        </ul>
{% endif %}
<hr>