{% extends 'main.html' %}

{% block content %}
<h1> HomePage </h1>

<style>
    .webpage{
        display: grid;
        grid-template-rows: 9fr 1fr;

    }
    .homeContainer {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr ;
    }
</style>


<div class="webpage">

    <div class="homeContainer">


    <div class="topicsContainer">
        {% include "base/topic_component.html" %}
    </div>


    <div class="roomsContainer">
        <hr>
        <h2>Rooms</h2>
        <hr>
        <h1>showing results for "{{search}}"</h1>
        <br><h3>Total results: {{roomCount}}</h3>
        <h3><a href={% url 'create-room' %}>Create A New Room</a></h3>

        <h5>{{Search}}</h5>
        {% for room in rooms %}
            <div>
                <h5><a href="{% url 'edit-room' room.id %}">Edit Room</a> &nbsp; <a href="{% url 'delete-room' room.id %}">Delete Room</a></h5>
                <h2> <a href="{% url 'room' room.id %}">{{room.name}}</a></h2>
                <span>Created by: <a href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a>/{{room.host.email}}</span>
                <span>
                    {% if room.host.is_superuser == 1 %} 
                        {{room.host.username}} is a Super User
                    {% else %}
                        {{room.host.username}} is not a Super User
                    {% endif %}
                </span>
            </div>
        {% endfor %}

    </div>


    <div class="recentActivity">
        {% include "base/activity_feed.html" %}
    </div>


</div>

<div class=footerContainer>
    <hr>
    <h3>Footer</h3>
</div>

</div>
{% endblock %}