{% extends 'main.html' %}

{% block content %}
<h1> HomePage </h1>

<div>
  
    <div>
        <h3><a href={% url 'create-room' %}>Create A New Room</a></h3>
        {% for room in rooms %}
            <div>
                <h5><a href="{% url 'edit-room' room.id %}">Edit Room</a> &nbsp; <a href="{% url 'delete-room' room.id %}">Delete Room</a></h5>
                <h2> <a href="{% url 'room' room.id %}">{{room.name}} </a></h2>
                <span>Created by: @{{room.host.username}}/{{room.host.email}}</span> |
                <span>
                    {% if room.host.is_superuser == 1 %} 
                        {{room.host.username}} is a Super User
                    {% else %}
                        {{room.host.username}} is not a Super User
                    {% endif %}
                </span>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}