{% extends 'main.html' %}

{% block content %}
{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        
        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter Username" />

        <label>Password:</label>
        <input type="password" name="password" placeholder="Password" />

        <input type="submit" value="Login" />
        <h3> Haven't Signed up yet?</h3> <a href="{% url 'register' %}">SignUp</a>
    </form>
</div>

{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register" />
        <h3> Already Signed up?</h3> <a href="{% url 'login' %}">Login</a>
    </form>
</div>
{% endif %}

{% endblock content %}